.registerpage {
   background-image: linear-gradient(to right,  rgb(12, 3, 21),
    rgb(11, 11, 12));
   height: 100vh;
   display: grid;
   place-items: center;
}

.registerpage__container {
   padding: 3rem 2rem 2rem;
   background-color: whitesmoke;
   width: 350px;
   height: 400px;
   border-radius: 10px;
   text-align: center;
}

.registerpage__container > form {
   margin-block: 1rem;
   display: flex;
   flex-direction: column;
   gap: 14px;
   border-radius: 5px;
   justify-content: center;
   /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.registerpage__container > form > input {
   padding: 1rem 14px;
   background-color: rgb(12, 3, 21);
   border: none;
   outline: none;
   color: white;
   border-radius: 4px;
}